# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
*.egg

# Virtual environments
.venv/
venv/

# Database
*.db
*.db-journal
*.db-wal

# IDE
.vscode/
.idea/

# Experiments and data
*.log
*.pkl
*.pt
*.bin

# OS
.DS_Store
Thumbs.db

# files
*.jpg
*.jpeg
*.json
*.docx
*.xlsx
*.md
*.csv
*.png
*.zip